body {
  width: 80%;
  margin: auto;
  background:#fdcc43a4;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  align-items: center;
  justify-content: space-evenly;
}

nav i {
  font-size: 36px;
  cursor: pointer;
  color: #8486D1;
}

.title {
  margin-top: 20px;
  font-size: 1.75m;
}

#images {
  height: 3.5em;
  width: 60px;
  border-radius: 30px;
}

.cart-cont {
  font-size: 0;
}

.price-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
}

.price-qty p {
  padding: 0;
}

.cart-list-container {
  width: 80%;
  max-width: 1000px;
  height: 60px;
  background-color: #8486D1;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.food-info {
  display: flex;
  flex-direction: column;
  max-height: 60px;
  margin-left: 25px;
  font-size: 18px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  font-size: 2em;
}

.checkout-button {
  background-color: #8486D1;
  color: white;
  width: 400px;
  height: 70px;
  font-size: 32px;
  margin: 0px auto;
  border-radius: 50px;
  border: none;
  display: inherit;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 95, 197);
  border: 2px solid black;
  padding: 8px;
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  box-shadow: none;
}

