body {
  width: 80%;
  margin: auto;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  align-items: center;
  justify-content: space-evenly;
}

nav i {
  font-size: 36px;
  cursor: pointer;
}

.title {
  margin-top: 20px;
  font-size: 1.75m;
}

#images {
  height: 3.5em;
  width: 60px;
  border-radius: 30px;
}

.cart-cont {
  font-size: 0;
}

.price-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
}

.price-qty p {
  padding: 0;
}

.cart-list-container {
  width: 80%;
  max-width: 1000px;
  height: 60px;
  background-color: skyblue;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.food-info {
  display: flex;
  flex-direction: column;
  max-height: 60px;
  margin-left: 25px;
  font-size: 18px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  font-size: 2em;
}

.checkout-button {
  background-color: skyblue;
  width: 45%;
  height: 70px;
  font-size: 32px;
  margin: 0px auto;
  border-radius: 50px;
  border: none;
  display: inherit;
  cursor: pointer;
}
