body {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  background-color: #fdcc43a4;

}

.main-header {
  text-align: center;
  font-size: 56px;
}

.fa-solid {
  font-size: 300px;
  color: #8486D1;
}

.estimated {
  margin-top: 80px;
}

.pickup {
  font-size: 42px;
  margin: 0;
}

.pickup-time {
  font-size: 38px;
  margin: 0;
}

.description {
  font-size: 38px;
  text-align: center;
  margin-top: 100px;
}

.home {
  background-color: #8486D1;
  color: white;
  width: 400px;
  height: 70px;
  font-size: 32px;
  margin: 120px auto;
  border-radius: 50px;
  border: none;
  display: inherit;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 95, 197);
  border: 2px solid black;
  padding: 8px;
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  box-shadow: none;
}

